.App {
  text-align: center;
}

.form {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  justify-items: center ;
}

.form .mb-3{
  width: 80%;
  margin: 0 !important;
  height: 100%;
}

.form .btn {
  width: 20%;
}

.content-area {
  width: 100%;
  max-width: 1440px;
  padding: 0 40px; 
  margin: 50px auto;
}

.output-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.results .card {
  max-width: 30%;
}
